<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Todo App</title>
</head>
<body>

    <div class="container" style="margin-top: 100px;">
        <h3>Todo List</h3>
        <hr>

        <form action="/add" method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">Todo Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="Enter a Todo"><br>
                <button type="submit" class="btn btn-danger">Add</button>
            </div>

              
           {% if todos == [] %}

           <div class="alert alert-warning" role="alert">
               There is no any Todo.
           </div>

          {% else %}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Todo Title</th>
                    <th scope="col">Todo Status</th>
                    <th scope="col">Update Status</th>
                    <th scope="col">Todo Delete</th>
                </tr>
                </thead>
                <tbody>
                
                {% for todo in todos %}
                    <tr>
                        <th scope="row">{{ todo.id }}</th>
                        <td>{{ todo.title }}</td>
                        
                        {% if todo.complete == False %}
                            <td>Not Complete</td>
                        {% else %}
                            <td>Completed</td>
                        {% endif %}
                            
                        <td><a href="/complete/{{ todo.id }}" class="btn btn-secondary">Complete</a></td>
                        <td><a href="/delete/{{ todo.id }}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>

          {% endif %}

        </form>
        <hr>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>